# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.BaseDsvApi.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\mimil\Documents\GitHub\BaseDsvApi\.idea\.idea.BaseDsvApi.dir\.idea/dataSources/
/dataSources.local.xml
